
# GitHub Pages
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.bundle
Gemfile.lock
.DS_Store
node_modules
package-lock.json
.nx
.venv
/requirements.txt


# Default
$RECYCLE.BIN/
**/*.rs.bk
**/docker-compose.override.yml
*.a
*.aux
*.bak
*.bbl
*.bcf
*.beam
*.blg
*.cab
*.cache
*.cb
*.cb2
*.class
*.cover
*.csproj.user
*.dll
*.dump
*.dylib
*.dyn_hi
*.dyn_o
*.ear
*.egg
*.egg-info/
*.eventlog
*.exe
*.ez
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.gem
*.hi
*.hp
*.iml
*.jar
*.javadoc
*.lcov
*.lnk
*.lock
*.lockb
*.lof
*.log
*.log.*
*.lot
*.mdb
*.mode1v3
*.mode2v3
*.moved-aside
*.msi
*.msm
*.msp
*.nav
*.o
*.obj
*.old
*.orig
*.out
*.pbxuser
*.pdb
*.pdfsync
*.perspectivev3
*.pid
*.pid.lock
*.pidb
*.pkl
*.playground
*.prof
*.py[cod]
*.pyd
*.pyo
*.rbc
*.rej
*.run.xml
*.seed
*.sln.docstates
*.sln.iml
*.snm
*.so
*.stackdump
*.sublime-project
*.sublime-workspace
*.suo
*.svd
*.swiftpm
*.swn
*.swo
*.swp
*.synctex.gz
*.terraform.lock.hcl
*.test
*.tfstate
*.tfstate.*
*.tmp
*.toc
*.user
*.userprefs
*.vrb
*.vscode/*
*.war
*.whl
*.xccheckout
*.xcodeproj/*
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcscmblueprint
*.xcuserstate
*.xcworkspace
*.xdv
*~
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
.bun.lockb
.bun/
.bundle/
.cabal-sandbox/
.cache/
.coverage
.cxx/
.dmypy.json
.eggs/
.externalNativeBuild/
.idea/
.ipynb_checkpoints
.mypy_cache/
.next/
.nox/
.nyc_output/
.pyre/
.pytest_cache/
.stack-work/
.tox/
.venv/
.vscode/
.yardoc/
Cargo.lock
DerivedData/
Desktop.ini
Icon
InstalledFiles
Package.resolved
Thumbs.db
__pycache__/
_yardoc/
cabal.sandbox.config
composer.lock
composer.phar
coverage.xml
docker-compose.override.yml
ehthumbs.db
env.bak/
go.work
go.work.sum
hs_err_pid*
htmlcov/
lcov-report/
node_modules/
package-lock.json
pnpm-lock.yaml
vendor/.bundle
xcuserdata/